.bienvenida-container {
  height: 100vh;
  height: 100dvh;

  background-attachment: fixed;
  background-position: center;

  justify-content: center;
  align-items: center;

  flex-direction: column;
  display: flex;

  position: relative;

  .text {
    color: #fff;
    text-align: center;
    backdrop-filter: blur(1px);
    h1 {
      font-size: 48px;
      margin: 0;
    }

    p {
      font-size: 24px;
    }
  }
}

.redes-sociales {
  position: absolute;
  bottom: 20px;
  right: 20px;

  ul {
    display: flex;

    li {
      background-color: #fff;

      $size: 30px;
      width: $size;
      height: $size;

      border-radius: 5px;
      margin-left: 15px;

      @include center-flex;

      &:active {
        transform: scale(0.9);
      }

      &:hover {
        .facebook {
          color: #3b5998;
        }

        .instagram {
          color: #e4405f;
        }

        .twitter {
          color: #1da1f2;
        }
      }

      a {
        color: $amarillo;
      }
    }
  }
}

.title-section {
  background-color: $gris-oscuro;
}

.constiner-all-nosotros {
  @include center-x;
  .container-nosotros {
    margin-top: 20px;
    width: 90%;
  }
  .nosotros-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .horarios {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 360px;

      img {
        max-width: 200px;
      }
      .text {
        text-align: center;
        margin-top: 40px;
        h2 {
          font-size: 26px;
          margin: 0;
          color: $amarillo;
          text-transform: uppercase;
        }
        p {
          font-size: 20px;
          margin: 0;
          color: #2f2e41;
        }
      }
    }

    .img-container {
      max-width: 500px;
    }
  }

  .nosotros-footer {
    margin: 50px 0;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        display: flex;
        justify-content: center;
      }

      .element {
        text-align: center;
        max-width: 360px;
        box-shadow: 0px 0px 10px 0px #2f2e4117;
        padding: 10px 25px;
        border-radius: 10px;

        .text {
          text-align: center;
          margin-top: 40px;

          h2 {
            font-size: 26px;
            margin: 10px 0;
            color: $amarillo;
            text-transform: uppercase;
          }
          p {
            font-size: 20px;
            margin: 0;
            color: #2f2e41;
          }
        }
      }
    }
  }
}

.container-calendario-all {
  @include center-x;
  margin: 50px 0;

  .container-calendario {
    height: 500px;
    max-width: 80%;
    min-width: 80%;

    .rbc-event,
    .rbc-day-slot .rbc-background-event {
      background-color: $amarillo;
      color: $gris-oscuro;
    }
    .rbc-toolbar button {
      background-color: $gris-oscuro;
      color: $amarillo;
      border: 1px solid $amarillo;
      border-radius: 5px;

      &:hover {
        background-color: $amarillo;
        color: $gris-oscuro;
      }
    }
  }
}

.constiner-all-contacto {
  @include center-x;
  margin: 50px 0;
  .container-contacto {
    width: 90%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    .container-img {
      max-width: 500px;
      .datos-contacto {
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;

          li {
            background-color: $gris-oscuro;
            /* padding: 10px; */
            border-radius: 10px;

            &:active {
              transform: scale(0.9);
            }

            a {
              color: #fff;
              height: 42px;
              display: flex;
              align-items: center;

              .icono {
                background-color: $amarillo;
                color: $gris-oscuro;
                margin-right: 10px;
                height: 100%;
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px 0 0 10px;
              }
            }
          }

          li:last-child {
            grid-column: 1 / 3;
          }
        }
      }
    }

    .form {
      .container-form {
        .title {
          color: $amarillo;
        }

        .container-input {
          border-color: $gris-oscuro;

          &.focus {
            border-color: $amarillo;
          }

          label .icono {
            color: $amarillo;
          }
        }
        .submit-container button {
          background-color: $gris-oscuro;

          &:hover {
            background-color: $amarillo;
          }
        }
      }
      .ql-toolbar.ql-snow .ql-formats:last-child {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1100px) and (min-width: 850px) {
  .constiner-all-contacto .container-contacto,
  .constiner-all-nosotros .container-nosotros {
    width: 100%;
  }

  .constiner-all-nosotros .nosotros-footer ul {
    li:nth-child(2) {
      border-left: 1px solid $gris-oscuro;
      border-right: 1px solid $gris-oscuro;
    }
    .element {
      box-shadow: none;
      border-radius: 0;
    }
  }
}

@media screen and (max-width: 850px) {
  .constiner-all-contacto .container-contacto,
  .constiner-all-nosotros .container-nosotros {
    width: 100%;
  }

  .constiner-all-nosotros .nosotros-header .img-container {
    display: none;
  }

  .constiner-all-nosotros .nosotros-header {
    grid-template-columns: 1fr;

    .horarios {
      margin-top: 50px;
      text-align: center;
      max-width: 360px;
      box-shadow: 0px 0px 10px 0px rgba(47, 46, 65, 0.0901960784);
      padding: 10px 25px;
      border-radius: 10px;
    }
  }

  .constiner-all-nosotros .nosotros-footer ul {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .constiner-all-contacto .container-contacto {
    grid-template-columns: 1fr;
  }
  .constiner-all-contacto {
    margin: 0;
  }

  .form {
    margin: 30px 0;
  }

  .constiner-all-contacto
    .container-contacto
    .container-img
    .datos-contacto
    ul {
    margin: 0 10px;
  }
}

@media screen and (max-width: 500px) {
  .container-calendario-all {
    .container-calendario {
      height: 500px;
      max-width: 95%;
      min-width: 95%;
    }
  }

  .form {
    margin: 30px 0;

    .container-form {
      min-width: 95vw;
      max-width: 95vw;

      padding: 15px 20px 20px;
    }
  }
}
