.container-layout {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;

  flex-wrap: wrap;
}

header {
  background-color: $gris-oscuro;
  width: 100%;
  align-self: flex-start;
}

main {
  width: 100%;
}
footer {
  align-self: flex-end;
  width: 100%;
  background-color: $gris-oscuro;
}

@import "./header";
