* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 300ms ease all;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #fba211;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #292929;
}
